.coins__content {
    background-color: var(--accent);
    border-radius: 20px;
    display: flex;
}

.coins__left {
    max-width: 685px;
    width: 100%;
}

.coins__title {
    font-size: 24px;
    margin-bottom: 18px;
    padding-top: 37px;
    font-weight: 700;
}

.coins__subtitle {
    font-size: 20px;
    font-weight: 700;
    color: #7C7979;
    margin-bottom: 42px;
}

.coins__money {
    padding: 90px;
    padding-left: 37px;
    padding-right: 45px;
}

.coins__range {
    margin-bottom: 50px;
}

.coins__information {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.coins__salebuy {
    border: 2px solid;
    max-width: 270px;
    padding: 18px 108px;
    border-radius: 10px;
}

.coins__coins {
    display: flex;
    gap: 30px;
    padding-bottom: 17px;
}

.coins__right {
    max-width: 385px;
    width: 100%;
    padding-top: 120px;
    margin-left: auto;
    text-align: right;
    padding-right: 50px;
}

.coins__buy {
    background-color: var(--dark-gray);
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    padding: 18px 28px;
    padding-right: 39px;
    border-radius: 15px;
    margin-bottom: 22px;
    margin-left: auto;
    transition: 0.5s;
}

.coins__buy:hover {
    background-color: var(--Medium-dark-gray);
}

.coins__info {
    font-size: 14px;
    font-weight: 700;
}

.coins__info span {
    color: #707070;
}

.coins {
    margin-bottom: 120px;
}

@media (max-width: 1140px) {
    .coins__content {
        flex-direction: column;
        padding: 30px 25px;
        align-items: center;
        max-width: 660px;
        margin: 0 auto;
    }

    .coins__money {
        width: 130px;
        height: auto;
        padding: 0;
    }

    .coins__right {
        margin: 0 auto;
        display: flex;
        padding: 18px 28px;
        max-width: none;
        align-items: center;
        gap: 15px;
    }

    .coins__buy {
        max-width: 250px;
        width: 100%;
        justify-content: center;
    }

    .coins__info {
        font-size: 12px;
        font-weight: 700;
    }
}

@media (max-width: 960px) {
    .coins {
        margin-bottom: 75px;
    }

    .coins__content {
        max-width: 560px;
    }

    .coins__money {
        width: 100px;
    }

    .coins__title {
        font-size: 20px;
        text-align: center;
    }

    .coins__subtitle {
        font-size: 18px;
        text-align: center;
    }

    .coins__salebuy {
        padding: 15px 50px;
        align-items: center;
    }

    .coins__coins {
        justify-content: center;
        padding-bottom: 13px;
    }

    .coins__buy {
        padding: 12px 24px;
    }

    .coins__content {
        padding: 16px 20px;
    }
}

@media (max-width: 860px){
    .coins{
        margin-bottom: 60px;
    }
}

@media (max-width: 660px){
    .coins__content{
        padding: 10px 15px;
    }

    .coins__title{
        font-size: 18px;
    }

    .coins__subtitle{
        font-size: 16px;
    }
}

@media (max-width: 530px){
    .coins__right{
        flex-direction: column;
    }

    .coins__buy{
        padding: 10px 20px;
        margin-bottom: 0px;
    }

    .coins__info{
        text-align: center;
    }
}

@media(max-width: 468px) {
    .coins__money{
        width: 60px;
    }

    .coins__title{
        padding-top: 10px;
    }

    .coins__subtitle{
        margin-bottom: 12px;
    }
}

@media(max-width: 360px) {
    .coins__coins{
        flex-direction: column;
        gap: 15px;
    }

    .coins__info{
        text-align: center;
    }
}