.home {
    background-image: url('../../images/fontsimage.png');
    background-size: cover;
    background-repeat: no-repeat;
    padding: 65px;
    margin-bottom: 120px;

}

.home__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}


.home__title {
    text-align: center;
    font-size: 68px;
    color: #fff;
    margin-bottom: 55px;
}

.home__content {
    text-align: center;
    max-width: 440px;
    margin-bottom: 130px;
}

.home__text {
    margin-bottom: 20px;
    font-size: 30px;
    color: #fff;
}

.home__online {
    width: 100%;
    background-color: var(--dark-gray);
    border-radius: 15px;
    display: flex;
    gap: 86px;
    padding: 46px;
    justify-content: center;
    align-items: center;
}

.online__block {
    max-width: 300px;
    width: 100%;
    background-color: var(--accent);
    border-radius: 10px;
    text-align: center;
    padding: 48px 20px;
}

.online__block--active {
    width: 358px;
    height: 75px;
    border-radius: 20px;
    font-size: 20px;
    display: flex;
    padding: 30px 0px;
    gap: 10px;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins';
    font-weight: 500;
    margin: auto;
}

.online__text {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 30px;
    font-family: 'Poppins' sans-serif;
    line-height: 1;
}

.online__num {
    font-size: 48px;
    font-weight: 500;
    line-height: 1;
}

.copy-message {
    display: none;
    position: absolute;
    background-color: #4CAF50;
    color: white;
    padding: 5px 10px;
    border-radius: 8px;
    font-size: 14px;
    top: -35px;
    right: 0;
    z-index: 100;
    animation: fadeOut 2s forwards;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    80% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.online__block--active {
    position: relative;
    /* остальной стиль... */
}

@media (max-width: 1200px) {
    .home__content {
        margin-bottom: 80px;
    }

    .online__block {
        max-width: 300px;
        padding: 40px 16px;
    }

    
}

@media (max-width: 1140px) {
    .home__online{
        flex-direction: column;
        padding: 30px 30px;
        gap: 35px;
        max-width: max-content;
    }

    .online__block--active{
        order: -1;
    }

    .home__content{
        margin-bottom: 40px;
    }
    
    .home{
        margin-bottom: 60px;
    }
}

@media(max-width: 960px){
    .home__title{
        font-size: 58px;
    }

    .home__text{
        font-size: 25px;
    }

.home__content{
    margin-bottom: 10px;
}

.online__text{
    font-size: 20px;
}

.online__num{
    font-size: 35px;
}

.online__block{
    max-width: 250px;
   padding: 20px 10px;
}

.home__online{
    gap: 25px;
}

.home{
    margin-bottom: 40px;
}
}

@media(max-width: 468px){
    .home__title{
        font-size: 40px;
    }

    .home__text{
        font-size: 18px;
    }

    .online__block--active{

    }

    .online__container{
        font-size: 14px;
    }

    .online__text{
        font-size: 16px;
        margin-bottom: 15px;
    }

    .online__num{
        font-size: 25px;
    }
}