.latest-news__title {
    font-size: 48px;
    font-family: "Poppins" sans-serif;
    font-weight: 700;
    color: #fff;
    text-align: center;
    margin-bottom: 60px;
}

.latest__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 70px 70px;
}

.latest__card {
    background-color: #fff;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
}

.latest__image {
    width: 100%;
    margin-bottom: 15px;
}

.latest__text {
    text-align: center;
    padding: 0 67px;
    margin-bottom: 13px;
    font-size: 16px;
}

.latest__btn {
    display: flex;
    gap: 5px;
    margin: 0 auto;
    font-size: 16px;
    color: #717171;
    padding-bottom: 7px;
    margin-top: auto;
}

.latest-news {
    margin-bottom: 105px;
}

@media (max-width: 960px) {
    .latest-news__title {
        font-size: 40px;
        margin-bottom: 40px;
    }

    .latest__list {
        grid-gap: 40px 40px;
    }

    .latest__text {
        font-size: 14px;
    }

    .latest__btn {
        font-size: 14px;
    }

    .latest-news {
        margin-bottom: 80px;
    }
}

@media (max-width: 760px) {
    .latest__text {
padding: 0;
    }

    .latest__list{
        grid-gap: 20px 20px;
    }
}

@media(max-width: 660px){
    .latest__list{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(max-width: 468px){

    .latest-news__title{
margin-bottom: 25px;
    }

.latest-news{
    margin-bottom: 40px;
}

    .latest-news__title{
        font-size: 30px;
    }
}

@media(max-width: 360px){
    .latest__list{
        display: flex;
        flex-direction: column;
    }

    .latest__image{
      
    }
}