.news__content {
    text-align: center;
}

.news__content img {
    display: inline-block;
    max-width: 100%;
    height: auto;
    margin-bottom: 40px;
}

.news__title {
    font-size: 32px;
    font-weight: 700;
    color: #fff;
    max-width: 600px;
    margin: 0 auto;
    margin-bottom:  45px;
}

.news__text {
    font-size: 20px;
    color: #fff;

}