.recent-purchases__title {
    font-size: 48px;
    font-weight: 700;
    color: #fff;
    text-align: center;
    margin-bottom: 60px;
}

.recent__list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 35px;
    padding: 50px 60px;

}

.recent__container {
    background-color: var(--soft-green);
    border-radius: 30px;
}


.recent__card {
    background-color: var(--dark-gray);
    padding: 16px 49px;
    padding-bottom: 27px;
    border-radius: 10px;
}

.recent__name {
    text-align: center;
    font-size: 16px;
    color: #fff;
    font-weight: 700;
    margin-bottom: 15px;
}

.recent__privileg {
    font-size: 20px;
    color: #fff;
    font-weight: 700;
    text-align: center;
}

.recent__image {
    margin-bottom: 15px;
    margin: 0 auto 15px;
}

.recent-purchases{
    margin-bottom: 120px;
}