.sale {
    margin-bottom: 69px;
}

.sale__filters {
    background-color: var(--dark-gray);
    padding: 14px 12px;
    border-radius: 20px;
    display: flex;
    margin: 0 auto;
    max-width: max-content;
    border-radius: 20px;
    gap: 10px;
    margin-bottom: 78px;
}

.sale__btn {
    width: 100%;
    max-width: 330px;
    background-color: var(--accent);
    border-radius: 10px;
    text-align: center;
    display: flex;
    gap: 10px;
    justify-content: center;
    padding: 18px 90px;
    align-items: center;
    font-weight: bold;
    transition: 0.5s;
}

.sale__btn:hover {
    background-color: var(--soft-green);
    color: white;
}

.sale__text span {
    color: var(--lime-green);
}

.sale__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 60px 50px;
}

.sale__card {
    padding: 30px 30px 25px;
    border-radius: 10px;
    background-color: var(--dark-gray);
}

.sale__title {
    margin-bottom: 24px;
    font-size: 32px;
    font-weight: bold;
    color: #fff;
}

.sale__price {

    font-size: 32px;
    font-weight: 500;
    color: var(--lime-green);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 30px;
    margin-bottom: 33px;
}

.sale__text {

    color: #fff;
    margin-bottom: 26px;
    font-size: 16px;
    font-weight: 700;
}

.detailed__btn {
    color: #C9C9C9;
    font-weight: 700;
    font-family: 'Inter';
    font-size: 16px;
    margin-bottom: 60px;
}

.detailed__btn:active {}

.sale__buy {
    background-color: var(--soft-green);
    color: #fff;
    width: 100%;
    padding: 17px;
    border-radius: 15px;
    transition: 0.5s;
}

.sale__buy:hover {
    background-color: var(--pale-lime);
    color: black;
}

#coins-range .range-slider__thumb[data-lower] {
    width: 0;
}

#coins-range .range-slider__range {
    border-radius: 6px;
}

.range-slider .range-slider__thumb {
    background-color: black;
}

.range-slider .range-slider__range {
    background-color: black;
}

.range-slider {
    background: #fff;
}

@media (max-width: 1140px) {
    .sale__card {
        padding: 20px 20px;
    }
}

@media (max-width: 960px) {
    .sale__list {
        grid-gap: 40px 30px;
    }

    .sale__title {
        font-size: 26px;
    }

    .sale__price {
        font-size: 26px;
        margin-bottom: 25px;
    }

    .sale__text {
        font-size: 14px;
        margin-bottom: 20px;
    }

    .detailed__btn {
        font-size: 13px;
        margin-bottom: 45px;
    }

    .sale__buy {
        padding: 14px;
    }
}

@media (max-width: 860px) {
    .sale__btn {
        padding: 16px 60px;
    }

    .sale__filters {
        margin-bottom: 60px;
    }

    .sale__card {
        padding: 15px 15px;
    }
}

@media(max-width: 660px){
    .sale__filters{
        display: flex;
        flex-direction: column;
        margin-bottom: 30px;
    }

    .sale__list{
        grid-template-columns: repeat(2, 1fr);
    }

    .sale__buy{
      
    }

    .sale__title{
        font-size: 22px;
        text-align: center;
    }

    .sale__text{
        font-size: 14px;   
    }
    
    .detailed__btn{
       margin-bottom: 30px;
    }

    .sale__card{
        max-width: 350px;
    }
}

@media  (max-width: 360px){
    .sale__list{
        display: flex;
        flex-direction: column;
        grid-gap: 19px 20px; 
    }

    .sale__btn{
        padding: 10px 30px;
    }

    .sale__filters{
        margin-bottom: 15px;
    }
}