.footer__container {
    display: flex;
    margin-bottom: 44px;
}

.footer__logo {
    margin-bottom: 43px;
    padding-top: 31px;
}

.footer__text {
    font-size: 20px;
    font-weight: 400;
    color: #858585;
}

.footer__center {
    padding-left: 200px;
    padding-right: 360px;
}

.footer-center__text {
    text-align: center;
    color: #fff;
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 20px;
    padding-top: 22px;
}

.footer-center__icons {
    display: flex;
    gap: 22px;
    justify-content: center;
    margin-bottom: 107px;
}

.footer-center__prava{
    color: #fff;
    font-weight: 600;
}

.footer-right__list{
    display: flex;
    flex-direction: column;
    gap: 19px;
}

.footer-right__link{
    color: #858585;
    font-size: 20px;
}
@media (max-width: 960px){
.footer__center{
    padding-right: 200px;
}

.footer-center__prava{
    text-align: center;
}
}

@media(max-width: 870px){
.footer__center{
    padding-right: 200px;
}


}

@media(max-width: 800px){
    .footer-right__list{
        gap: 10px;
        padding-top: 20px;
    }

    .footer__center{
       padding-right: 100px;
       padding-left: 100px;
    }

    .footer-right__link{
        font-size: 16px;
    }

    .footer__text{
        font-size: 16px;
    }

    .footer-center__prava{
        font-size: 15px;
    }

    .footer-center__icons{
        margin-bottom: 90px;
        gap: 16px;
    }
}

@media (max-width: 540px){
    .footer__container{
        flex-direction: column;
    }

    .footer__logo{
       margin: 0 auto;
       margin-bottom: 20px;
    }

    .footer__text{
        text-align: center;
    }

    .footer-center__icons{
        margin-bottom: 40px;
    }

    .footer-right__list{
        align-items: center;
    }
}